#NODE_VERSION=
#NODE_OPTIONS=
#NODE_ENV=
GENERATE_SOURCEMAP=false
SKIP_PREFLIGHT_CHECK=true

REACT_APP_ENV=development
REACT_APP_AW_NAME='Alien Worlds'
REACT_APP_ALIEN_WORLDS_URL=https://alienworlds.io
REACT_APP_ATOMIC_ASSETS_API_URL=https://wax.alienworlds.io
REACT_APP_BINANCE_MAIN_NET_URL=https://bsc-dataseed.binance.org
REACT_APP_BINANCE_TEST_NET_URL=https://data-seed-prebsc-2-s1.binance.org:8545
REACT_APP_BSC_CHAIN_ID=56
REACT_APP_DISCORD_URL=https://discord.gg/wswdNGKwXQ
REACT_APP_SUPPORT_ALIENWORLDS_URL=https://support.alienworlds.io
REACT_APP_GA=G-5V77K9VKCN
REACT_APP_WAX_FETCH_URL=https://wax.alienworlds.io
REACT_APP_HYPERION_API_URL=https://wax.alienworlds.io
REACT_APP_MEDIUM_URL=https://alienworlds.medium.com
REACT_APP_MISSIONS_API_URL=https://api.alienworlds.io/v1/missions
REACT_APP_MISSIONS_MISSIONS_CONTRACT=0xBea8302e8b0F8d4ee45f7CA9161C4A2e4f255123
REACT_APP_MISSIONS_NFT_CONTRACT=0xF3857306a37264f15a19ad37DA8A9485e5f7CfB3
REACT_APP_MISSIONS_TLM_CONTRACT=0x2222227e22102fe3322098e4cbfe18cfebd57c95
REACT_APP_TELEGRAM_URL=https://t.me/AlienWorldsOffical
REACT_APP_TELEPORT_URL=https://teleport.alienworlds.io
REACT_APP_WAX_API_URL=https://waxnode.alienworlds.io
REACT_APP_WAX_AUTO_SIGNING_URL=https://api-idm.wax.io/v1/accounts/auto-accept
REACT_APP_WAX_SIGNING_URL=https://all-access.wax.io
REACT_APP_WAX_BLOCK_EXPLORER='https://waxblock.io/transaction/'
REACT_APP_WAX_WALLET_URL=https://wallet.wax.io

REACT_APP_ZENDESK_URL=https://alienworlds.zendesk.com
REACT_APP_NEW_RELIC_ENABLED=false
REACT_APP_NEW_RELIC_APP_ID=499475291
REACT_APP_ACTIVE_DAC_IDS=eyeke,kavian,magor,naron,nerix,veles,eyekeunn,kavianunn,magorunn,naronunn,neriunn,velesunn,testa
REACT_APP_DAO_API=https://api.alienworlds.io/v2/dao
REACT_APP_DAO_CANDIDACY_TERMS_IPFS=QmTat8KrhGqT94ZAWCUfqk862XXQG4BdwfC28HnchT7UFo
REACT_APP_COUNCIL_POLICY_URL=https://alienworlds.io/planetary-dao-council-policy
REACT_APP_USER_AGREEMENT_URL=https://alienworlds.io/terms-of-use
REACT_APP_VERSION=$npm_package_version
REACT_APP_IPFS_API_URL=https://ipfs.alienworlds.io/ipfs
REACT_APP_LEADERBOARD_API_URL=https://api.alienworlds.io/v1/leaderboard
REACT_APP_WALLETCONNECT_PROJECT_ID=91b1f40ce1452e24fadec70974eb3a9a
REACT_APP_WALLETCONNECT_DAPP_URL=https://play.alienworlds.io/missions
REACT_APP_ARENA_CMS_API_URL=https://cmsdev.alienworlds.io/api/arenas?populate=image,socialLinks,action,categories
REACT_APP_ARENA_CATEGORIES_CMS_API_URL=https://cmsdev.alienworlds.io/api/arena-categories?populate=image
REACT_APP_ARTICLES_CMS_API_URL=https://cmsdev.alienworlds.io/api/articles
REACT_APP_CMS_API_TOKEN=f78353ef7d05d235330389cd88b8e6a2d8f51c21b92825cf97a4a7cdd952d3c6cf53893b0c911eda552291ab14ac6b7420d18abf5c865574910e919dbd42cbbac22729bd9292f1e30d3f4589bbb062f68f3698dedd9801a52ada1c0c011ecca54dcd939a3cdc66dbba7506269d5f5e1c75bc470d2d044dc4625c2d2001410fe6
REACT_APP_DEMO_USER_ACCOUNT=demo.worlds
REACT_APP_DEMO_USER_PUBKEY=EOS6cHhexa33J9vidmkmE1UNV1vDPDCCByPW3qWidbcg1prwEuCbQ
REACT_APP_WAX_MAINNET_CHAIN_ID=1064487b3cd1a897ce03ae5b6a865651747e2e152090f99c1d19d44e01aea5a4
REACT_APP_GRAPHQL_API_URL=https://api-dev.alienworlds.io/graphql/graphql
